doctype html
html(lang="ja")
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-127037224-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-127037224-1');
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title AZRSIX Lab
    meta(name="description" content="アザラボ")
    meta(property="og:title" content="AZRSIX Lab")
    meta(property="og:description" content="アザラボ")
    meta(property="og:url" content="https://azrsix.github.io")
    meta(property="og:image" content="https://azrsix.github.io/img/ogp.png")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="ja_JP")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@azrsix")
    link(rel="icon" href="favicon/favicon.ico")
    link(rel="icon" href="favicon/android-chrome-192x192.png" sizes="192x192" type="image/png")
    link(rel="apple-touch-icon" href="favicon/apple-touch-icon-152x152.png" sizes="152x152")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Cute+Font|Noto+Sans+JP:400,700")
    link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nicomoji.css")
    link(rel="stylesheet" href="css/style.min.css")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
      integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB"
      crossorigin="anonymous")
  body.eyecatch
    header.top
      .page.half
        .in.flex.column.center
          h1.title AZRSIX Lab
          h2.sub-title アザラボ
          .menu.flex.row.between
            a.btn.flex.center(href="https://azrsix.hateblo.jp/" target="_blank" title="Blog")
              i.fas.fa-keyboard
            span.btn.flex.center
              i.fas.fa-pen
            span.btn.tori.flex.center
            a.btn.flex.center(href="https://twitter.com/azrsix" target="_blank" title="Twitter")
              i.fab.fa-twitter
            a.btn.flex.center(href="https://github.com/azrsix" target="_blank" title="GitHub")
              i.fab.fa-github
    main.loaded
      .page.half.align-top
        .flex.responsive.full
          .box.grid-33
          .box.grid-33
            .flex.row.between
              h3 About me
              .sns
                a(href="https://azrsix.hateblo.jp/" target="_blank" title="Blog")
                  i.fas.fa-keyboard
                a(href="https://twitter.com/azrsix" target="_blank" title="Twitter")
                  i.fab.fa-twitter
                a(href="https://github.com/azrsix" target="_blank" title="GitHub")
                  i.fab.fa-github
            h4 @azrsix
            p 永遠の勉強中。
              br
              | 読み方はあざらしっくすでもあざろくでも。
            ul.tags
              li Web
              li JavaScript
              li CSS
              li Sass
              li PostCSS
              li PHP
              li Perl
              li Yokohama
              li Oniku
            p
              small なにか増えたら貼っていく
            h3 My works
            .flex.row.works
              h4
                a(href="https://azrsix.github.io/ue-scroll-js/ja/" target="_blank") ue-scroll.js
              a.works-icon(href="https://azrsix.github.io/ue-scroll-js/ja/" target="_blank" title="説明書")
                i.fas.fa-home
              a.works-icon(href="https://github.com/azrsix/ue-scroll-js" target="_blank" title="GitHub Repository")
                i.fab.fa-github
              span.spacer
              p jQueryを使わないタイプの上に戻るボタン
          .box.grid-33
      .page.half.align-top
    footer.footer.flex.center
      .copyright Copyright &copy; 2018-2019 azrsix
    #ue-scroll.ue-scroll.btn-white.arrow-black.circle.shadow
    script(src="js/app.min.js")
